<div class="team-container">
  <h1>Команда</h1>
  <div *ngFor="let coachInform of infoTeam; let i = index">
    <div [ngClass]="i % 2 === 0 ? 'team-card' : 'team-card-reverse'">
      <div class="image">
        <img [src]="coachInform.image" alt="Oleh Kuntyy" />
      </div>
      <div [ngClass]="i % 2 === 0 ? 'content' : 'content-reverse'">
        <div class="name">
          <p>{{ coachInform.name }}</p>
        </div>
        <div class="describe">
          {{ coachInform.description }}
        </div>
      </div>
    </div>
  </div>
</div>
