.body{
    padding: 40px;
}
h1{
    font-weight: 650;
    color:rgba(0, 0, 0);
}
img{
    height: 600px;
    width: 400px;
}
.card{
    display:flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.card-reverse{
    display:flex;
    justify-content: space-around;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    max-width: 35%;
    
    
}
.name{
    font-weight: 400;
    font-size: 55px;
    text-align: center;
    padding-bottom:20px ;

}

.describe{
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    padding-bottom:20px ;
    line-height: 1.5;

}