.video {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: space-between;

  .card {
    color: blanchedalmond;
    max-width: 300px;
    margin-top: 20px;
    text-align: center;
  }
  button {
    padding-bottom: 10px;
  }
}


