.video {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: space-between;
}

.card {
  color: blanchedalmond;
  max-width: 300px;
  margin-top: 20px;
  text-align: center;
}
button{
  padding-bottom: 10px;
}
h1 {
  text-align: center;
}


//   .header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }
