<app-header></app-header>
<h1>Роботи попередніх конкурсів "Orchestra Challenge"</h1>

<div class="video">
  <mat-card class="card" *ngFor="let item of listArchiveCompetition">
    <mat-card-header>
      <!-- <div mat-card-avatar class="header-image"></div> -->
      <mat-card-title>{{ item.titleName }}</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <youtube-player [videoId]="item.video" [height]="200" [width]="300">
    </youtube-player>

    <mat-card-content>
      <p style="text-align: center; padding-top: 10px">Детальніше</p>
    </mat-card-content>
  </mat-card>
</div>
