<mat-toolbar class="transparent">
  <!-- <span>
    <img src="/assets/orchestra_logo.png" alt="" style="width: 70px; height: 40px;">
  </span> -->
  <div>
    <a
    href="#"
      text-decoration:none
      style="cursor: pointer; text-decoration: none"
      
      routerLinkActive="active"
      >Головна</a
    >
    <a style="cursor: pointer" routerLink="/asd" routerLinkActive="#home"
      >Про проект</a
    >
    <a 
    href="mailto:oleh_kun@icloud.com"
    style="cursor: pointer"  
      >Контакти</a
    >
    <a style="cursor: pointer"  routerLinkActive="active"
      >Як стати учасником</a
    >
    <a
    href="#competition"
      style="cursor: pointer"
      
      routerLinkActive="active"
      
      >Положення конкурсу</a
    >
  </div>

  <span class="example-spacer"></span>
  <a style="cursor: pointer">Увійти/Зареєструватися</a>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
