* {
    box-sizing: border-box;
  }
  html,body{
    margin:0;
    padding: 0;
  }
  img{
    max-width: 100%;
  }
  .card-wrapper{
    border: 2px solid gray; 
    padding: .75rem;
  }
  
  .card-custom{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  max-width: 800px;
  /* border: 2px solid gray; */
  
  }
  
  .card-description{
    width: 68%;
  }
  .card-imgage{
    width: 28%;
     max-width: 150px;  
  }