<!-- <mat-card class="card" color="warn">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ laureatInfo.name }}</mat-card-title>

      <img
        mat-card-lg-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content> Коротка біографія </mat-card-content>
</mat-card> -->
<div class="card-wrapper">
	<div class="card-custom">
		<div class="card-imgage">
			<img class="card-img rounded-circle" src="assets/{{laureatInfo.image}}" alt="Card image cap">
	</div>
			<div class="card-description">
				<h1 class="card-title text-success">{{laureatInfo.name}} - {{laureatInfo.place}}</h1>
				<h3 class="card-title text-success">{{laureatInfo.instrument}}</h3>
				
				<p class="card-text">{{laureatInfo.description}}
			
				</p>
			</div>
		</div>
		<div class="card-custom">
			<div class="rating">5</div>
			<div class="member-from"></div>
			<div class="rating-points">67,254</div>
		</div>
	</div>

