<div class="card-wrapper">
  <div class="card-custom">
    <div class="card-image">
      <img src="assets/{{ laureatInfo.image }}" alt="Card image cap" />
    </div>
    <div class="card-description">
      <h1>{{ laureatInfo.name }}({{laureatInfo.instrument}})</h1>
      <h3>{{ laureatInfo.place }}</h3>
      <!-- <h2 class="instrument">{{ laureatInfo.instrument }}</h2> -->
      <p class="card-text">{{ laureatInfo.description }}</p>
    </div>
  </div>
  <button>Subscribe to this laureat</button>
</div>
