<div class="contact_body"й>
    <div class="contact_content">
        <h1>Потрібна допомога?</h1>
        <h2>ЗВ'ЯЖІТЬСЯ З НАМИ </h2>
        <h3>одним із способів:</h3>
        <ul>
            <li>Електронна пошта: <a href="orchestrachallenge@gmail.com"> orchestrachallenge@gmail.com</a></li>
            <li><a href=" https://www.facebook.com/profile.php?id=100077081201184">Facebook</a></li>
            <li><a href="https://www.instagram.com/orchestra.challenge/">Instagram</a></li>
            <li><a href="viber://chat?number=+380964274564">✆+380964274564(Viber)</a></li>
            <li><a href="viber://chat?number=+380936852682"> ✆+380936852682(Viber)</a></li>
        </ul>
    </div>
   
    
</div>







