
  <div class="contact-content">
    <h1>Потрібна допомога?</h1>
    <h2>ЗВ'ЯЖІТЬСЯ З НАМИ</h2>
    <h3>одним із способів:</h3>
    <ul>
      <li>
        Електронна пошта:
        <a href="mailto:orchestrachallenge@gmail.com" target="_blank">
          orchestrachallenge@gmail.com</a
        >
      </li>
      <li>
        <mat-icon>facebook-messenger</mat-icon>
        <a
          href=" https://www.facebook.com/profile.php?id=100077081201184"
          target="_blank"
          >Facebook</a
        >
      </li>
      <li>
        <mat-icon>apple</mat-icon>
        <a href="https://www.instagram.com/orchestra.challenge/" target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a href="viber://chat?number=+380964274564" target="_blank"
          >✆+380964274564(Viber)</a
        >
      </li>
      <li>
        <a href="viber://chat?number=+380936852682" target="_blank">
          ✆+380936852682(Viber)</a
        >
      </li>
    </ul>
  </div>

