.contact_body {
  width: fit-content;
  padding-top: 10%;
  padding-bottom: 15%;
  border: solid 1px rgba(126, 116, 48, 255);
  margin: auto;
}

h1 {
  font-size: 40px;
  font-weight: 600;

  text-align: center;
}
h2 {
  padding-top: 20px;
  text-align: center;
}
h3 {
  text-align: center;
}

a {
  text-decoration: none;
}
ul {
  text-align: center;
  list-style-type: none;
  padding-right: 20px;
}
li {
  font-size: large;
  padding-top: 10px;
}
