<div class="master-competition-container">
  <h1>Команда</h1>
  <div *ngFor="let coachInform of infoTeam; let i = index">
    <div [ngClass]="i % 2 === 0 ? 'master-competition-card' : 'master-competition-card-reverse'">
      <img [src]="coachInform.image" alt="Oleh Kuntyy" />
      <div [ngClass]="i % 2 === 0 ? 'master-competition-content' : 'master-competition-content-reverse'">
        <div class="master-competition-name">
          <p>{{ coachInform.name }}</p>
        </div>
        <div class="master-competition-describe">
          {{ coachInform.description }}
        </div>
      </div>
    </div>
  </div>
</div>
