
.apply_body{
    padding-top: 25%;
    padding-bottom: 40%;
}
h1{
    font-size: 40px; 
    font-weight: 600; 
    padding: 20px;
    text-align: center;
}
p{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.btn-apply{
    text-align: center;
    padding: 20px;
    a{
       
        color:white
    }
}
    
button{
    font-size: 40px;
    padding: 40px;
 
}
a{
    text-decoration:none;
}

