.apply-body {
  padding-top: 5%;
  padding-bottom: 40%;
  background-color: rgb(220, 220, 220);

  p {
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .btn-apply {
    text-align: center;
    padding: 20px;

    button {
      font-size: 40px;
      padding: 40px;
    }
  }
}
