.image {
  background-image: url("/assets/orchestra_challenge.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  width: 100%;
}
section{
  margin-left:10% ;
  margin-right:10% ;
}
.sections{
  border:black solid 1px;
  margin-right:10%;
  margin-left:10%;
}
