.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.scroll-style {
  // background-color: rgba(158, 137, 137, 0.12);;
  background-color: rgba(27, 27, 27, 255);
}
.transparent-header {
  background-color: transparent;
}
