.image {
  background-image: url("/assets/orchestra_challenge.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  width: 100%;
}
section{
  margin-left:5% ;
  margin-right:5% ;
}
