<app-header style="background-color: yellowgreen;"></app-header>
<div class="content">
  <a href="#" routerLinkActive="active">Головна</a>
  <H1>П О Л О Ж Е Н Н Я</H1>
  <H2>
    про Всеукраїнську онлайн резиденцію та конкурс інструменталістів «Orchestra
    challenge»</H2
  >

  <ul style="list-style-type: none">
    <li><span style="font-weight: bold">1.Загальні положення:</span></li>
    <br />
    <ul style="list-style-type: circle">
      <li>1. Загальні положення Конкурсу:</li>
      <ul style="list-style-type: none">
        <li>
          1. Конкурс інструменталістів «Orchestra challenge» (надалі –Конкурс)
          проводиться протягом квітня-травня 2023 року.
        </li>
        <li>
          2.  Організатором проведення Конкурсу є громадська організація
          «Orchestra challenge». Співорганізатором проведення Конкурсу є ГО
          Центр розвитку творчості «Лілея». Партнерами проведення Конкурсу є
          Асоціація діячів народно-інструментальної музики Національної
          Всеукраїнської музичної спілки.
        </li>
        <li>
          3.  Організатором проведення Конкурсу є громадська організація
          «Orchestra challenge». Співорганізатором проведення Конкурсу є ГО
          Центр розвитку творчості «Лілея». Партнерами проведення Конкурсу є
          Асоціація діячів народно-інструментальної музики Національної
          Всеукраїнської музичної спілки.
        </li>
        <li>
          4. Учасники Конкурсу повинні дотримуватися вимог зазначених у
          положенні про Конкурс щодо його проведення, виконувати рішення
          організаційного комітету та журі.
        </li>
      </ul>
      <li>2. Загальні положення Резиденції:</li>
      <ul style="list-style-type: none">
        <li>
          1. Онлайн резиденція «Orchestra challenge» (надалі – Резиденція)
          створюється на інформаційних ресурсах для вільного спілкування, обміну
          досвідом та напрацюваннями людей сфери музичного мистецтва.
        </li>
        <li>
          2.  Організатором є громадська організація «Orchestra challenge».
        </li>
      </ul>
    </ul>
    <br />
    <li><span style="font-weight: bold">2. Мета та завдання:</span></li>
    <ul>
      <li>1. Мета та завдання Конкурсу:</li>
      <ul style="list-style-type: none">
        <li>
          1. Метою Конкурсу є підвищення професійного рівня виконавської
          майстерності, нові можливості для розвитку й обміну досвідом,
          співпраця молодих музикантів з провідними фахівцями музичного
          мистецтва, запис твору фіналістами конкурсу в колаборації з
          титулованими музикантами.
        </li>
        <li>
          2. Завдання Конкурсу полягає у залученні чисельної кількості молодих
          музикантів до участі у Конкурсі.
        </li>
      </ul>
      <li>2.Мета та завдання Резиденції</li>
      <ul style="list-style-type: none">
        <li>
          1. Метою створення Резиденції є проведення онлайн майстер-класів,
          лекцій, семінарів, творчих зустрічей з визнаними майстрами
          інструментального виконавства.
        </li>
        <li>
          2. Завдання Резиденції полягає у створенні музичної спільноти та
          загальної комунікації на базі онлайн платформи «Orchestra challenge».
        </li>
      </ul>
    </ul>
    <br />
    <li><span style="font-weight: bold">3.Умови проведення Конкурсу:</span></li>
    <ul>
      <li>
        1. До участі у Конкурсі запрошуються виконавці на таких інструментах:
        <ul style="list-style-type: none">
          <li>
            - струнно-смичкові: скрипка, альт, віолончель, контрабас; -духові:
            флейта, гобой, кларнет, труба, тромбон, валторна, саксофон;
          </li>
          <li>- ударні інструменти;</li>
          <li>- народні: бандура, цимбали, сопілка, баян, акордеон;</li>
          <li>
            - естрадно-джазові: бас-гітара, соло/ритм-гітара, барабанна
            установка;
          </li>
          <li>
            - народно-автентичні: колісна ліра, старосвітська бандура, кобза,
            торбан, козобас, етно-духові – фрілка, флояра, дводенцівка, тилинка,
            трембіта, окарина, дримба та ін.
          </li>
        </ul>
      </li>
      <li>
        2. Конкурсні прослуховування проходять у трьох категоріях:
        <ul>
          <li>- молодша категорія( до 15 років, включно)</li>
          <li>- середня категорія (до 19 років, включно)</li>
          <li>- старша категорія (від 20 років)</li>
        </ul>
      </li>
    </ul>
    <br />
    <li>
      <span style="font-weight: bold">4.Порядок проведення Конкурсу:</span>
    </li>
    <ul>
      <li>
        1. Заявки для участі у Конкурсі приймаються до 30 квітня 2023 року
        (включно). Google - форма заявки буде опублікована на сторінках
        Резиденції в
        <a href="https://www.instagram.com/orchestra.challenge/">Instagram</a>
        та
        <a href=" https://www.facebook.com/profile.php?id=100077081201184"
          >Facebook</a
        >,   а також на інформаційних ресурсах співорганізаторів та партнерів
        Конкурсу.
      </li>
      <li>
        2. Графік заходів у рамках проведення Конкурсу буде опубліковано на
        інформаційних ресурсах Конкурсу.
      </li>
      <li>
        3. Заключним заходом у рамках проведення Конкурсу є запис оркестрової
        композиції фіналістами конкурсу онлайн та презентація на інформаційних
        ресурсах онлайн резиденції «Orchestra challenge».
      </li>
    </ul>
    <br />
    <li>
      <span style="font-weight: bold"> 5.Репертуарні вимоги Конкурсу:</span>
    </li>
    <ul>
      <li>
        1. Учасники Конкурсу виконують два різнохарактерних твори, для презенції
        техніки та музично-виразових аспектів виконавської майстерності.
      </li>
    </ul>
    <br />
    <li>
      <span style="font-weight: bold"
        >6.Журі та критерії оцінювання Конкурсу:</span
      >
    </li>
    <ul>
      <li>
        1. Журі Конкурсу формується з провідних фахівців інструменталістів та
        диригентів.
      </li>
      <li>
        2. Рішення журі є остаточним, перегляду та оскарженню не підлягає.
      </li>
      <li>3. Виступи конкурсантів оцінюються за 10-бальною шкалою.</li>
      <li>
        4. Результати Конкурсу буде опубліковано на інформаційних ресурсах
        конкурсу 2 травня 2023 року, переможці запрошуються до співпраці в
        онлайн оркестрі.
      </li>
      <li>
        5. Критерії оцінювання:
        <ul style="list-style-type: none">
          <li>
            - виконавська майстерність (техніка виконання, культура звуку,
            сценічні дані, художній рівень репертуару);
          </li>
          <li>
            - розкриття художнього образу (глибина відтворення музичного змісту
            твору);
          </li>
          <li>- виразність та культура сценічного виконання, професійність.</li>
        </ul>
      </li>
    </ul>
    <br />
    <li><span style="font-weight: bold">7.Відзнаки Конкурсу:</span></li>
    <ul>
      <li>
        1. Залежно від досягнутих конкурсантами результатів, журі має право:
        <ul style="list-style-type: none">
          <li>- присудити не всі лауреатські ступені;</li>
          <li>- присудити спеціальні нагороди.</li>
        </ul>
      </li>
      <li>
        2. Переможці Конкурсу нагороджуються дипломами І, ІІ, ІІІ ступенів,
        спеціальними дипломами та подарунками;
      </li>
      <li>
        3. Грамотами нагороджуються концертмейстери та викладачі, учні котрих
        стали дипломантами І ступеня.
      </li>
      <li>
        4. Спонсори і партнери Конкурсу можуть присуджувати спеціальні призи та
        нагороди.
      </li>
      <li>
        5. Державні, громадські, благодійні організації, творчі спілки, засоби
        масової інформації, приватні особи за погодженням з організатором
        Конкурсу можуть засновувати спеціальні заохочувальні призи, грошові
        премії та відзнаки для конкурсантів.
      </li>
    </ul>
    <br />
    <li><span style="font-weight: bold">8.Фінансові умови:</span></li>
    <ul>
      <li>
        1. Співфінансування Конкурсу проводиться за рахунок добровільних і
        спонсорських пожертвувань, безповоротної фінансової підтримки, не
        забороненої чинним законодавством України.
      </li>
      <li>
        2. Обов’язковою умовою для участі у Конкурсі є організаційний збір у
        формі благодійного внеску у розмірі 400 грн., який необхідно сплатити до
        30 квітня 2023 року.
      </li>
      <li>
        3.Організаційний збір у формі благодійного внеску вноситься на рахунок.
        Частину коштів буде передано Благодійним фондам і Громадським
        організаціям, котрі опікуються внутрішньо переміщеними дітьми та
        забезпечують потреби військових. Реквізити: Найменування організації: ГО
        Центр розвитку творчості «Лілея» Код отримувача: 26547664 Назва банку:
        АТ КБ “ПРИВАТБАНК”; Рахунок отримувача у форматі IBAN:
        UA803052990000026001025014448 Валюта: UAH
      </li>
      <li>
        4.Після отримання заявки на електронну адресу Учасника буде надіслано
        лист-підтвердження про отримання заявки. Якщо Учасник не отримав
        протягом двох-трьох діб лист-підтвердження про отримання заявки,
        прохання зв’язатись з організатором по телефону або написати на e-mail:
        orchestrachallenge@gmail.com
      </li>
    </ul>
    <br />
    <li>
      <span style="font-weight: bold">9.Заявка на участь у Конкурсі:</span>
    </li>
    <ul>
      <li>
        1. Для участі у Конкурсі заявки надсилаються в термін до 30 квітня року
        (включно)
      </li>
      <li>
        2. Контакти:
        <ul>
          <li>
            <a href="orchestrachallenge@gmail.com">
              E-mail: orchestrachallenge@gmail.com</a
            >
          </li>
          <li>
            <a href=" https://www.facebook.com/profile.php?id=100077081201184"
              >Facebook</a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/orchestra.challenge/"
              >Instagram</a
            >
          </li>

          <li>
            <a href="viber://chat?number=+380964274564">Viber</a>
            ✆+380964274564
          </li>
          <li>
            <a href="viber://chat?number=+380936852682">Viber</a>
            ✆+380936852682
          </li>
        </ul>
      </li>
    </ul>
    <br />
    <li><span style="font-weight: bold">10.Онлайн зустрічі:</span></li>
    <ul>
      <li>
        1.В рамках проведення Конкурсу відбуватимуться онлайн майстер-класи,
        лекції, семінари, творчі зустрічі де визнані майстри музичного мистецтва
        поділяться своїми знаннями та досвідом. Онлайн зустрічі стануть однією з
        можливостей додаткової освіти та ресурсом навчальних матеріалів для
        музикантів початківців, школярів, студентів та викладачів.
      </li>
      <li>
        2. Зареєстровані учасники онлайн зустрічей матимуть можливість отримати
        Сертифікати кількістю 2 академічні години/0,06 кредити ЄКТС.
      </li>
      <li>
        3. Графік проведення, форми для реєстрації, умови участі в онлайн
        майстер- класах, лекціях, семінарах, творчих зустрічах та всі деталі
        буде опубліковано на інформаційних ресурсах Резиденції, а також на
        інформаційних ресурсах Співорганізаторів та Партнерів Конкурсу.
      </li>
      <li>
        4. Журі та коучі конкурсу інструменталістів «Orchestra challenge»:
      </li>
      <ul style="list-style-type: none">
        <br />
        <li>
          <span style="font-weight: bold">Олесь Журавчак</span> - український
          музикант-віртуоз, лауреат численних Міжнародних та Всеукраїнських
          конкурсів і фестивалів, продюсер, засновник та організатор багатьох
          мистецьких проектів, конкурсів та фестивалів, директор-розпорядник
          Національного академічного оркестру народних інструментів України.
        </li>
        <br />
        <li>
          <span style="font-weight: bold">Олег Кунтий</span> - український
          диригент, аранжувальник, лауреат Всеукраїнських та Міжнародних
          конкурсів, засновник ансамблів, диригент Національного академічного
          оркестру народних інструментів України.
        </li>
        <br />
        <li>
          <span style="font-weight: bold">Тарас Столяр</span> - український
          кобзар, переможець Першого Міжнародного конкурсу виконавців на
          українських народних інструментах ім. Гната Хоткевича,
          артист Національного академічного оркестру народних інструментів
          України, Заслужений артист України.
        </li>
        <br />
        <li>
          <span style="font-weight: bold">Ігор Брухаль</span> - український
          музикант, цимбаліст, викладач, лауреат Міжнародних та Всеукраїнських
          конкурсів, Заслужений артист України.
        </li>
        <br />
        <li>
          <span style="font-weight: bold">Денис Савельєв</span> – український
          флейтист, випускник Mannes School of Music та Bard College, New York,
          переможець численних міжнародних конкурсів.
        </li>
        <br />
        <li>
          <span style="font-weight: bold">Любомир Матейко</span> – головний
          диригент, художній керівник, соліст-скрипаль та аранжувальник,
          співзасновник Київського ансамблю української музики «Дніпро»,
          Народний артист України.
        </li>
        <br />
        <li>
          <span style="font-weight: bold">Олександр Жижченко</span> -
          звукорежисер, аранжувальник, композитор, засновник першого в Україні
          лейблу з випуску авторських дисків в стилі електронної музики
          Innertion records.
        </li>
        <br />
        <li>
          <span style="font-weight: bold">Нікіта Рубченко</span> - український
          музикант-віртуоз, композитор, аранжувальник.
        </li>
        <br />
        <li>
          <span style="font-weight: bold">Олег Микитюк</span> - музикант,
          викладач кафедри баяна та акордеона Національної музичної академії
          України ім. П. І. Чайковського, багаторазовий лауреат міжнародних
          конкурсів, акордеоніст-виконавець, аранжувальник, диригент.
        </li>
        <br />
        <li>
          <span style="font-weight: bold">Назар Павленко</span>- український
          музикант, викладач Дитячої школи мистецтв ✓6 ім. Г.Л. Жуковського, м.
          Київ, артистом Національного академічного оркестру народних
          інструментів України.
        </li>
        <br />
        <li>
          <span style="font-weight: bold">Петро Січко</span> - український
          музикант, викладач Львівського музичного фахового коледжу ім.
          С.Людкевича, артист в оркестрі INSO-Lviv, в оркестрі Національного
          драматичного театру імені М. Заньковецької, Заслужений артист України.
        </li>
        <br />
        <li>
          <span style="font-weight: bold">Андрій Бобрик</span> - український
          музикант, викладач Львівського музичного фахового коледжу ім.
          С.Людкевича
        </li>
      </ul>
    </ul>
  </ul>
</div>
