.content {
  background-color: rgb(220, 220, 220);
  width: 100%;

  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  a {
    color: black;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
  }
  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
}
